[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
geopandas = "*"

[dev-packages]
pytest = "*"
matplotlib = "*"
jupyter = "*"

[requires]
python_version = "3.8"
