[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
shapely = "*"
fiona = "*"
six = "*"
cython = "*"
requests = "*"
tqdm = "*"
beautifulsoup4 = "*"
geopandas = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.8"
